/* Capabilities.css */
.capabilities {
    margin: 50px 0;
  }
  
  .capabilities h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .capabilities h3 {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  
  .capabilities ul {
    list-style-type: none;
    padding: 0;
  }
  
  .capabilities li {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .capabilities li ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .capabilities li ul li {
    margin: 5px 0;
  }
  